.box{
    border: 2px solid red;
    height: 5%;
    width: 10%;
    margin: 10px;
    background-color: gold;
    flex-basis: 250px;
    flex-shrink: 1;
    /* flex-grow: 1; */
}
.container{
    border: 2px solid blue;
    background-color: red;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;
    align-content: center; */
}
.box-3{
    /* align-self: center; */
    /* flex-basis: 250px; */
    /* flex-grow: 2; */
   flex-shrink: 0;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-container{
    width: 50vw;
    height: 40vh;
    border: 2px solid red;
}

/* mobile responsiveness */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container{
        background-color: green;
    }

}

/* tablet responsiveness */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .container{
        background-color: black;
    }
    .image-container{
        display: none;
    }
}
